script(src="js/vendors/jquery.min.js")
script(src="js/vendors/popper.min.js") 
script(src="js/vendors/bootstrap.min.js") 
script(src="js/vendors/wow.min.js")
<script>new WOW().init();</script>
script(src="js/vendors/jquery.nicescroll.min.js")
script(src="js/vendors/swiper.min.js")
script(src="js/main.min.js")