//-
    script(src="js/vendors/jquery.min.js")
    script(src="js/vendors/popper.min.js") 
    script(src="js/vendors/bootstrap.min.js")
    script(src="js/vendors/jquery.nicescroll.js")
    script(src="js/vendors/swiper.min.js")
    script(src="js/vendors/owl.carousel.min.js")
    script(src="js/vendors/aos.js")
// JS Plugins
script(src="js/vendors/vendors.min.js")
// Main JS
script(src="js/main.min.js")