link(rel="shortcut icon" href="favicon.ico")
link(rel="stylesheet", href="css/vendors/bootstrap.min.css")
link(rel="stylesheet", href="css/vendors/font-awesome.min.css")
link(rel="stylesheet", href="css/vendors/animate.css")
link(rel="stylesheet", href="css/main.min.css")