//-
    link(rel="stylesheet", href="css/vendors/bootstrap.min.css")
    link(rel="stylesheet", href="css/vendors/font-awesome.min.css")
    link(rel="stylesheet", href="css/vendors/swiper.min.css")
    link(rel="stylesheet", href="css/vendors/owl.carousel.min.css")
    link(rel="stylesheet", href="css/vendors/aos.css")
// Icon
link(rel="shortcut icon", href="favicon.png" type="image/x-icon")
// CSS Plugins
link(rel="stylesheet", href="css/vendors/vendors.min.css")
// Main CSS
link(rel="stylesheet", href="css/main.min.css")