// Start Site Font
@font-face {
    font-family: 'merriweatherblack';
    src: url('fonts/merriweather-black-webfont.woff2') format('woff2'),
         url('fonts/merriweather-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url('fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url('fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('fonts/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsextrabold';
    src: url('fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsthin';
    src: url('fonts/poppins-thin-webfont.woff2') format('woff2'),
         url('fonts/poppins-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// End Site Font

body {
    font-family: poppinsregular;
}