footer.bg-light
    .container
        .row
            .col-lg-8.mx-lg-auto
                p © Copyright 2019. MatrrDigital
                nav(class="navbar navbar-expand-lg justify-content-center")
                    ul(class="navbar-nav flex-md-row")
                        - var links = ["About us", "Press", "Terms and Conditions", "Privacy Policy", "Contact"]
                        each link in links
                            li.d-inline-block.nav-item
                                a(href="#" class="nav-link")=link     