/* Overlay */
@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

/* Prefixes */
@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

/* Animation */
@mixin keyFrame ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

/* Opacity */
@mixin opacity($value) {
    zoom: 1;
    $opacity-ie: $value * 100;
    filter: alpha(opacity = $opacity-ie);
    opacity: $value;
}

/* Transition */
@mixin transition($args...) { /* 3 dots means the value will the same as its typed */
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}
