// Overlay 
@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

// Used for Navmenu items
@mixin menu-line {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
}

@mixin line-gradient {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    margin: 0 auto;
    height: 1px;
    background-image: linear-gradient(90deg, #ff0084 0%, #9b1be5 100%);
}

@mixin icon-gradient {
    font-size: 2.75rem;
    background: linear-gradient(90deg, #ff0084 0%, #9b1be5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

/* Prefixes
@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

// Animation
@mixin keyFrame ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// Opacity
@mixin opacity($value) {
    zoom: 1;
    $opacity-ie: $value * 100;
    filter: alpha(opacity = $opacity-ie);
    opacity: $value;
}

// Transition
@mixin transition($args...) { // 3 dots means the value will the same as its typed 
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}  
*/