/* Max */
$maxXXSmall: (max-width: 481px);
$maxExtraSmall: (max-width: 576px);
$maxSmall: (max-width: 768px);
$maxMedium: (max-width: 992px);
$maxLarge: (max-width: 1200px);

/* Min */
$minExtraSmall: (min-width: 576px);
$minSmall: (min-width: 769px);
$minMedium: (min-width: 992px);
$minLarge: (min-width: 1200px);

$mixMeduim-Large: (min-width: 992px) and (max-width: 1199px);
$mixSmallMeduim: (min-width: 769px) and (max-width: 991px);

/* Colors */
$mainColor: #196E2F;
$subColor: #00c633;
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #727272;
$backColor: #f7f6f6;

/* Float */
$floatLeft: left;
$floatRight: right;

/* Align */
$textRight: right;
$textLeft: left;
$textCenter: center;

/* Extra */
$hidden: hidden;