header(data-aos="slide-down" data-aos-duration="1000")
    .head
        //- Start Navbar
        nav(class="navbar navbar-expand-lg navbar-light p-0")#navbar
            a.navbar-brand(href='index.html')
                img(src='images/logo/logo-blue.png' class="d-logo" alt='Logo Image')
                img(src='images/logo/logo.png' class="m-logo" alt='Logo Image 1')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a(href='#home' class="nav-link active") Home
                    li.nav-item
                        a(href='#features' class="nav-link") Features
                    li.nav-item
                        a(href='#screenshots' class="nav-link") Screenshots
                    li.nav-item
                        a(href='#pricing' class="nav-link") Pricing
                    li.nav-item
                        a(href='#download' class="nav-link") Download
                    li.nav-item
                        a(href='#contact' class="nav-link") Contact Us
        //- End Navbar